@import 'tailwindcss';

*{
  font-family: 'Prompt', sans-serif;
}

html::-webkit-scrollbar{
  display: none;
}

html{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@custom-variant dark (&:where(.dark, .dark *))
